*
!.gitignore
!active-person.png
!android.png
!angled-line.png
!apple.png
!black-dot.png
!cursor.png
!down-arrow.png
!facebook.png
!focus.png
!google.png
!iphone.png
!large-banner-image.png
!linkedin.png
!people.png
!pinterest.png
!play.png
!twitter.png
!video-image.png
!video-play-bar.png
!white-dot.png
!windows.png
!youtube.png
